<div class="container container-padding">
<div class="row">
	<div class="col-xs-3">
		<div class="sidebar" style="width: 20rem;">
			<div class="genre-title text-center">タグリスト</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-center">
					<%= link_to "全記事一覧", blogs_path, :style => "color:black" %>
				</li>
				<% @tag_list.each do |list| %>
					<li class="list-group-item text-center">
						<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, :style =>"color:black" %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="col-xs-9">
		<div class="content-box">
			<p class="text-center">
				<% if @tag %>
					<%= @tag.name %>タグで検索
				<% else %>
					ブログ記事一覧
				<% end %>
			</p>
		</div>
		<div class=" blog-index">
			<% @blogs.each do |blog| %>
				<%= link_to blog_path(blog) do %>
					<div class="row blog-item">
						<div class="col-xs-4">
							<%= attachment_image_tag blog.user, :profile_image, size: "300x250", fallback: 'no_image.png',size: "300x250", class: "content-image" %>
						</div>
						<div class="col-xs-6 col-xs-offset-2 blog-text-box">
							<div class="text-center blog-user-name">
								<p><%= blog.user.name %>さん</p>
							</div>
							<div class="text-center blog-content">
								<p><%= blog.updated_at.strftime("%Y-%m-%d") %><br><br></p>
								<p><%= blog.title %></p><br>
								<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   									<%= blog.favorites.count %> いいね</p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>

	</div>
</div>
</div>