<div class="container container-padding">
    <div class="row">
        <div class="col-md-4">
            <%= render 'blog_sidebar', tag_list: @tag_list, tag_lists: @tag_lists %>
        </div>

        <div class="col-md-8">
            <div class="content-box">
                <% if @user_or_title == "1" %>
                    <p class="text-center">ユーザー名に '<%= @search %>' を含むブログ</p>
                    <% if @user_blogs.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'blog_index', blogs: @user_blogs %>
                        <div class="text-center">
                            <%= paginate @user_blogs %>
                        </div>
                    <% end %>
                <% elsif @user_or_title == "2" %>
                    <p class="text-center">ブログタイトルに '<%= @search %>' を含むブログ</p>
                    <% if @blogs.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'blog_index', blogs: @blogs %>
                        <div class="text-center">
                            <%= paginate @blogs %>
                        </div>
                    <% end %>
                <% else %>
                <% end %>
            </div>
        </div>
    </div>
</div>