<div class="container container-padding">
	<div class="row">
		<div class="content-box">
			<p class="text-center">ブログ記事検索</p>
		</div>
		<div class="col-xs-6">
			<div class="text-center select"><p>タグから検索</p></div>
			<% @tag_list.each do |list| %>
				<div class="text-center select-category">
					<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, :style =>"color:black" %>
				</div>
			<% end %>
		</div>
		<div class="col-xs-6">
			<div class="text-center select"><p>キーワードで検索</p></div>
			<div class="text-center">
           		<%= form_tag(search_blogs_path, method: :get ) do %>
              		<%= select_tag(:option, options_for_select([["ユーザー名", "1"],["ブログタイトル", "2"]])) %>
              		<%= text_field_tag :search %>
              		<button name='button' type='submit'>
                		<i class="fa fa-search"></i>
              		</button>
            	<% end %>
        	</div>
        	<% if user_signed_in? %>
	        	<%= link_to new_blog_path do %>
		        	<div class="text-center new-review"><p>記事を投稿する</p></div>
	    		<% end %>
	    	<% else %>
	    		<%= link_to new_user_session_path do %>
		        	<div class="text-center new-review"><p>記事を投稿する</p></div>
	    		<% end %>
	    	<% end %>
	    </div>
    </div>

    <div class="row">
		<div class="content-box">
			<p class="text-center">新着ブログ</p>
		</div>
		<div class="col-xs-8 col-xs-offset-2 blog-index">
			<% @blogs.each do |blog| %>
				<%= link_to blog_path(blog) do %>
					<div class="row blog-item">
						<div class="col-xs-4">
							<%= attachment_image_tag blog.user, :profile_image, size: "300x250", fallback: 'no_image.png',size: "300x250", class: "content-image" %>
						</div>
						<div class="col-xs-6 col-xs-offset-2 blog-text-box">
							<div class="text-center blog-user-name">
								<p><%= blog.user.name %>さん</p>
							</div>
							<div class="text-center blog-content">
								<p><%= blog.updated_at.strftime("%Y-%m-%d") %><br><br></p>
								<p><%= blog.title %></p><br>
								<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   									<%= blog.favorites.count %> いいね</p>
							</div>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-10 next-box">
			<%= link_to reviews_path do %>
				<p class="text-center">もっとみる</p>
			<% end %>
		</div>
	</div>
</div>