<div class="container container-padding">
	<div class="row">
		<div class="content-box">
			<p class="text-center">ブログ記事検索</p>
			<div class="col-sm-6">
				<div class="text-center select"><p>タグから検索</p></div>
				<div class="text-center select-category">
					<%= link_to "一覧", blogs_path, class: "select-button" %>
				</div>
				<div class="col-sm-10 col-sm-offset-1 tag-box">
					<% @tag_list.each do |list| %>
						<div class="text-center tag-item">
							<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, class: "select-button" %>
						</div>
					<% end %>
				</div>
				<div class="text-center tag-link">
					<a class="btn btn-warning tag-trigger" href="#">
						<h5>もっとみる</h5>
					</a>
				</div>
			</div>

			<%# タグ一覧画面表示 %>
			<div class="row all-tags">
				<div class="col-md-10 col-md-offset-1 all-tag-box">
					<% @tag_lists.each do |list| %>
						<div class="text-center all-tag-items">
							<%= link_to list.name, tag_blogs_path(name: "#{list.name}"), method: :post, class: "select-button" %>
						</div>
					<% end %>
				</div>
				<div class="text-center tag-link" id="close-tag">
					<a class="btn btn-primary tag-trigger" href="#" >
						<h5>閉じる</h5>
					</a>
				</div>
			</div>


			<div class="col-sm-6">
				<div class="text-center select"><p>キーワードで検索</p></div>
				<div class="text-center">
           			<%= form_tag(search_blogs_path, method: :get ) do %>
              			<%= select_tag(:option, options_for_select([["ユーザー名", "1"],["ブログタイトル", "2"]])) %>
              			<%= text_field_tag :search %>
              			<%= submit_tag "検索", class: "btn btn-warning" %>
            		<% end %>
        		</div>
        		<div class="text-center new-review-box">
        			<% if user_signed_in? %>
	        			<%= link_to "記事を投稿する", new_blog_path, class: "new-review" %>
	    			<% else %>
	    				<%= link_to "記事を投稿する", new_user_session_path, class: "new-review" %>
	    			<% end %>
	    		</div>
	    	</div>
		</div>
    </div>

    <div class="row">
		<div class="content-box">
			<p class="text-center">新着ブログ</p>
			<div class="col-md-8 col-md-offset-2 blog-index">
				<% @blogs.each do |blog| %>
					<%= link_to blog_path(blog) do %>
						<div class="row blog-item">
							<div class="col-xs-4">
								<%= attachment_image_tag blog.user, :profile_image, size: "300x250", fallback: 'no_image.png',size: "300x250", class: "content-image" %>
							</div>
							<div class="col-xs-6 col-xs-offset-2 blog-text-box">
								<div class="text-center blog-user-name">
									<p><%= blog.user.name %>さん</p>
								</div>
								<div class="text-center blog-content">
									<p><%= blog.updated_at.strftime("%Y-%m-%d") %><br><br></p>
									<p><%= blog.title %></p><br>
									<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   										<%= blog.favorites.count %> いいね</p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="col-md-5 col-md-offset-4 text-center more-link">
				<%= link_to "ブログ一覧へ", blogs_path, class: "select-button" %>
			</div>
		</div>
	</div>
</div>