<div class="container container-padding">
	<div class="row notification-area">
		<h3 class="text-center">通知</h3>
    	<p><%= link_to "全通知削除", notification_path(@notifications), method: :delete ,class: "fas fa-trash notification-delete" %></p>
    	<% if @notifications.exists? %>
    		<div class="col-sm-8 col-sm-offset-2 notification-index">
    			<% @notifications.each do |notification| %>
    				<div class="row notification-item">
    					<div class="col-sm-2">
		        			<span>
        						<%= link_to user_my_page_path(notification.visitor) do %>
       								<%= attachment_image_tag notification.visitor, :profile_image, size: "50x50", fallback: 'no_image.png',size: "50x50", class: "mypage-review-image" %>
       							<% end %>
        					</span>
        				</div>
        				<div class="col-sm-10">
        					<p class="notification-text"><%= notification_form(notification) %>
        					<span class="moderate-form"><%= " (#{time_ago_in_words(notification.created_at)} 前)" %>
       						</span></p>
       					</div>
       				</div>
       			<% end %>
       			<%= paginate @notifications %>
			</div>
		<% else %>
    		<p>通知はありません</p>
		<% end %>
	</div>
</div>