<div class="container container-padding">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1 user-profile">
			<p class="mypage-title">
				マイページ
			</p>
			<div class="col-sm-4 col-sm-offset-1 col-xs-4">
				<%= attachment_image_tag @user, :profile_image, size: '230x230', id: "file-preview",fallback: "no_image2.png",size:'230x230', class: "mypage-profile-image" %>
			</div>
			<div class="col-sm-4 col-sm-offset-1 col-xs-8">
				<h3 class="text-center">
					<%= @user.name %>さん
					<% if @user == current_user %>  
						<%= link_to notifications_path do %>
							<% if unchecked_notifications.any? %>
								<span class="fa-stack fa-lg">
									<i class="far fa-bell notification-bel fa-stack-2x"></i>
									<i class="fas fa-circle notification-circle fa-stack-1x"></i>
									<i class="fa fa-stack-1x notification-count"><%= @notifications.count %></i>
								</span>
							<% else %>
								<i class="far fa-bell fa-lg notification-bel"></i>
							<% end %>
						<% end %>
					<% end %>
				</h3>
				<h4 class="text-center">
					<%= @user.introduction %>
				</h4>
				<% if @user == current_user %>
					<div class="col-sm-12 text-center">
						<%=link_to "プロフィールを編集する", edit_user_path(@user), class: "btn btn-default" %>
					</div>
				<% else %>
					<div class="col-sm-12 text-center follow-box">
						<%= render 'users/follow_form', object: @user %>
        			</div>
				<% end %>
			</div>
		</div>
	</div>

	<div class="row user-show">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="area">
				<ul id="tab-menu" class="clearfix">
					<li><a href="#tab1" class="active">投稿記事一覧</a></li>
					<li><a href="#tab2" class="">お気に入り</a></li>
					<li><a href="#tab3" class="">フォロー中</a></li>
					<li><a href="#tab4" class="">フォロワー</a></li>
				</ul>

				<div id="tab-contents" class="clearfix">
					<div id="tab1" class="tab">
						<div class="mypage-content">
							<h4>あなたが投稿したレビュー</h4>
							<% if @reviews.count > 0 %>
								<% @reviews.each do |review| %>
									<div class="row mypage-item">
										<div class="col-sm-4 col-xs-3">
											<%= link_to review_path(review) do %>
													<%= attachment_image_tag review, :image, size: "150x100", fallback: 'no_image.png',size: "160x120", class: "mypage-review-image" %>
											<% end %>
										</div>
										<div class="col-sm-4 col-xs-5 mypage-text-box">
											<h4><%= review.name %></h4>
											<h4><%= review.updated_at.strftime("%Y-%m-%d") %></h4>
											<h5><%= review.content %></h5>
											<div id="star-rate-<%= review.id %>" data-score="<%= review.rate %>"></div>
											<div>
												<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   												<%= review.favorites.count %>
   											</div>
										</div>
										<div class="col-sm-4 col-xs-4">
											<div class="row">
												<div class="col-md-4">
													<%= link_to user_my_page_path(review.user) do %>
														<%= attachment_image_tag review.user, :profile_image, size: '100x100', id: "file-preview",fallback: "no_image2.png",size:'100x100', class: "profile-image" %>
													<% end %>
												</div>
												<div class="col-md-8 name-box">
													<h5 class="text-center"><%= review.user.name %>さん</h5>
												</div>
											</div>
										</div>
									</div>
									<%= render 'shared/star', review: review %>
								<% end %>
							<% else %>
								<p>レビューはまだありません</p>
								<%= link_to new_review_path do %>
		        					<div class="text-center new-box"><p>レビューを書く</p></div>
	    						<% end %>
	    					<% end %>
	    				</div>

	    				<div class="mypage-content">
	    					<h4>あなたが投稿したブログ記事</h4>
	    					<% if @blogs.count > 0 %>
								<% @blogs.each do |blog| %>
									<div class="row mypage-item">
										<div class="col-sm-4 col-xs-6">
											<%= link_to user_my_page_path(blog.user) do %>
													<%= attachment_image_tag blog.user, :profile_image, size: "150x150", fallback: 'no_image2.png',size: "150x150", class: "mypage-blog-image" %>
											<% end %>
										</div>
										<div class="col-sm-6 col-xs-6 mypage-text-box">
											<%= link_to blog_path(blog) do %>
												<h4><%= blog.user.name %>さん</h4>
												<h5><%= blog.updated_at.strftime("%Y-%m-%d") %></h5>
												<h2><%= blog.title %></h5>
												<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   												<%= blog.favorites.count %> いいね</p>
   												<p><i class="far fa-comment-alt" aria-hidden="true"></i>
   												<%= blog.blog_comments.count %>件</p>
   											<% end %>
										</div>
									</div>
								<% end %>
							<% else %>
								<p>記事はまだありません</p>
								<%= link_to new_blog_path do %>
		        					<div class="text-center new-box"><p>記事を投稿する</p></div>
	    						<% end %>
	    					<% end %>
	    				</div>
	    			</div>

					<div id="tab2" class="tab">
						<div class="mypage-cotntent">
							<div class="favorite-content">
								<h4><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>いいねをしているレビュー</h4>
		    					<% if @favorite_reviews.count > 0 %>
									<% @favorite_reviews.each do |favorite| %>
										<div class="row mypage-item">
											<div class="col-sm-4 col-xs-3">
												<%= link_to review_path(favorite.review) do %>
													<%= attachment_image_tag favorite.review, :image, size: "150x150", fallback: 'no_image.png',size: "150x150", class: "mypage-review-image" %>
												<% end %>
											</div>
											<div class="col-sm-4 col-xs-5 mypage-text-box">
												<h4><%= favorite.review.name %></h4>
												<h4><%= favorite.review.updated_at.strftime("%Y-%m-%d") %></h4>
												<h5><%= favorite.review.content %></h5>
												<div id="star-rate-<%= favorite.review.id %>" data-score="<%= favorite.review.rate %>"></div>
												<div>
													<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   													<%= favorite.review.favorites.count %>
   												</div>
											</div>
											<div class="col-sm-4 col-xs-4">
												<div class="row">
													<div class="col-sm-4">
														<%= link_to user_my_page_path(favorite.review.user) do %>
															<%= attachment_image_tag favorite.review.user, :profile_image, size: '100x100', id: "file-preview",fallback: "no_image2.png",size:'100x100', class: "profile-image" %>
														<% end %>
													</div>
													<div class="col-sm-8 name-box text-center">
														<h5><%= favorite.review.user.name %>さん</h5>
													</div>
												</div>
											</div>
										</div>

										<%= render 'shared/star', review: favorite.review %>

									<% end %>
								<% else %>
									<p>いいねをまだしていません</p>
									<%= link_to select_reviews_path do %>
		    	    					<div class="text-center new-box"><p>レビューを探す</p></div>
	    							<% end %>
	   		 					<% end %>
	   		 				</div>
	   		 				<div class="favorite-content">
								<h4><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>いいねをしているブログ記事</h4>
	    						<% if @favorite_blogs.count > 0 %>
									<% @favorite_blogs.each do |favorite| %>
										<div class="row mypage-item">
											<div class="col-sm-4 col-xs-6">
												<%= link_to user_my_page_path(favorite.blog.user) do %>
													<%= attachment_image_tag favorite.blog.user, :profile_image, size: "150x150", fallback: 'no_image2.png',size: "150x150", class: "mypage-blog-image" %>
												<% end %>
											</div>
											<div class="col-sm-6 col-xs-6 mypage-text-box">
												<%= link_to blog_path(favorite.blog) do %>
													<h4><%= favorite.blog.user.name %>さん</h4>
													<h5><%= favorite.blog.updated_at.strftime("%Y-%m-%d") %></h5>
													<h2><%= favorite.blog.title %></h5>
													<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   													<%= favorite.blog.favorites.count %> いいね</p>
   													<p><i class="far fa-comment-alt" aria-hidden="true"></i>
   													<%= favorite.blog.blog_comments.count %>件</p>
   												<% end %>
											</div>
										</div>
									<% end %>
								<% else %>
									<p>いいねをまだしていません</p>
									<%= link_to select_blogs_path do %>
	        							<div class="text-center new-box"><p>記事を探す</p></div>
	    							<% end %>
	    						<% end %>
	    					</div>
	    				</div>
	    			</div>

					<div id="tab3" class="tab">
						<div class="mypage-cotntent">
							<h4>フォロー中のユーザー</h4>
							<% if @following.count > 0 %>
								<% @following.each do |following| %>
									<div class="row mypage-item">
										<div class="col-sm-4 text-center">
											<%= link_to user_my_page_path(following) do %>
												<%= attachment_image_tag following, :profile_image, size: '230x230', id: "file-preview",fallback: "no_image2.png",size:'230x230', class: "mypage-profile-image" %>
											<% end %>
										</div>
										<div class="col-sm-6">
											<div>
												<h4 class="text-center">
													<%= following.name %>さん
												</h4>
												<h5 class="text-center">
													<%= following.introduction %>
												</h5>
											</div>
											<div class="post-count">
												<h5 class="text-center">レビュー投稿：<%= following.reviews.count %>件</h5>
												<h5 class="text-center">ブログ投稿：<%= following.blogs.count %>件</h5>
											</div>
										</div>
										<div class="col-sm-2 follow-box text-center">
											<%= render 'users/follow_form', object: following %>
            							</div>
            						</div>
								<% end %>
							<% else %>
								<p>フォロー中のユーザーはいません</p>
							<% end %>
						</div>
					</div>

					<div id="tab4" class="tab">
						<div class="mypage-cotntent">
							<h4>フォロワー</h4>
							<% if @follower.count > 0 %>
								<% @follower.each do |follower| %>
									<div class="row mypage-item">
										<div class="col-sm-4 text-center">
											<%= link_to user_my_page_path(follower) do %>
												<%= attachment_image_tag follower, :profile_image, size: '230x230', id: "file-preview",fallback: "no_image2.png",size:'230x230', class: "mypage-profile-image" %>
											<% end %>
										</div>
										<div class="col-sm-6">
											<div>
												<h4 class="text-center">
													<%= follower.name %>さん
												</h4>
												<h5 class="text-center">
													<%= follower.introduction %>
												</h5>
											</div>
											<div class="post-count">
												<h5 class="text-center">レビュー投稿：<%= follower.reviews.count %>件</h5>
												<h5 class="text-center">ブログ投稿：<%= follower.blogs.count %>件</h5>
											</div>
										</div>
										<div class="col-sm-2 follow-box text-center">
											<%= render 'users/follow_form', object: follower %>
		
            							</div>
            						</div>
								<% end %>
							<% else %>
								<p>あなたをフォローしているユーザーはまだはいません</p>
							<% end %>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<% if user_signed_in? && current_user.admin? %>
		<div class="row admin-menu">
			<div class="col-sm-10 col-sm-offset-1">
				<h3 class="text-center">管理者機能</h3>
				<h5 class="text-center">＜レビューカテゴリー追加・削除＞</h5>
				<div class="col-sm-6 col-sm-offset-3">
					<div class="category-form">
						<label>レビューカテゴリー</label>
						<%= form_for @review_category do |f| %>
							<%= f.text_field :name, style: "width:70%;" %>
							<%= f.submit "登録" %>
						<% end %>
					</div>
					<table class="table table-bordered">
						<tbody>
							<% @review_categories.each do |category| %>
								<tr>
									<td class="active">
										<%= category.name %>
									</td>
									<td class="active">
										<%= link_to "削除", review_category_path(category), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	<% end %>
	<div class="text-right">
		<%= link_to '退会する', user_registration_path, method: :delete, data: {confirm: "過去の投稿は全て消去されます。本当に退会してもよろしいですか？"}, class: "btn btn-danger" %>
	</div>
</div>

<%# タブメニュー %>
<script>
	$('#tab-contents .tab[id != "tab1"]').hide();

	$('#tab-menu a').on('click', function(event) {
		$("#tab-contents .tab").hide();
    	$("#tab-menu .active").removeClass("active");
  		$(this).addClass("active");
		$($(this).attr("href")).show();
  		event.preventDefault();
	});
</script>




