<div class="container main-visual">
	<div class="row mt-0 justify-content-center main-visual-content">
		<div class="col-md-6 col-md-offset-6 main-visual-text d-flex flex-column justify-content-center">
			<p>家でのリラックス時間に...<br><br>
			お仕事のお供に...<br><br>
			友人との大切な時間に...<br><br><br>
			<b>『とっておきの一杯を見つけてみませんか？』</b>
			</p>
		</div>
	</div>
</div>
<% unless user_signed_in? %>
	<div class="container signup-content">
		<div class="row">
			<div class="col-md-3 col-md-offset-1 signup-image">
			</div>
			<div class="col-md-7 signup-text">
				<p>あなたのお気に入りの一杯をシェアしてみませんか？</p><br>
				<div class="col-md-12 text-center">
					<%= link_to 'ゲストログイン', home_guest_sign_in_path, method: :post, class: "select-button" %>
					<div class="row">
						<div class="col-md-4 col-md-offset-2 text-center top-button-box">
							<%= link_to 'ログイン', new_user_session_path, class: "select-button" %>
						</div>
						<div class="col-md-4 text-center top-button-box">
							<%= link_to '新規登録', new_user_registration_path, class: "select-button" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<div class="container main-content">
	<div class="row">
		<div class="col-md-5 col-md-offset-1 content-box">
			<p>新着レビュー</p>
			<div class="content-item-box">
				<% @reviews.each do |review| %>
					<div class="content-item">
						<%= link_to review_path(review) do %>
							<div class="col-sm-12 col-xs-4">
								<%= attachment_image_tag review, :image, size: "120x90", fallback: 'no_image.png',size: "120x90", class: "content-review-image" %>
							</div>
							<div class="col-sm-12 col-xs-8">
								<div class="content-text">
									<%= review.name %><br>
								</div>
								<div id="star-rate-<%= review.id %>" data-score="<%= review.rate %>", class="content-text"></div><br>
								<div class="content-text">
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   									<%= review.favorites.count %> いいね
   								</div>
   							</div>
   						<% end %>
					</div>
					<%= render 'shared/star', review: review %>
				<% end %>
			</div>
			<div class="text-center more-link">
				<%= link_to "レビューを探す", select_reviews_path, class: "select-button" %>
			</div>
		</div>

		<div class="col-md-5 content-box">
			<p>人気ブログ記事</p>
			<div class="blog_index">
				<% @blog_ranks.each do |blog| %>
					<%= link_to blog_path(blog) do %>
						<div class="row blog-item">
							<div class="col-sm-4 text-center">
								<%= attachment_image_tag blog.user, :profile_image, size: "200x200", fallback: 'no_image.png',size: "200x200", class: "content-blog-image" %>
							</div>
							<div class="col-sm-6 col-sm-offset-2 blog-text-box">
								<div class="text-center blog-user-name">
									<p><%= blog.user.name %>さん</p>
								</div>
								<div class="text-center blog-content">
									<p><%= blog.updated_at.strftime("%Y-%m-%d") %></p>
									<p><%= blog.title %></p>
									<p><i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   									<%= blog.favorites.count %> いいね</p>
   									<p><i class="far fa-comment-alt" aria-hidden="true"></i>
   									<%= blog.blog_comments.count %>件</p>
								</div>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div class="text-center more-link">
				<%= link_to "ブログを探す", select_blogs_path, class: "select-button" %>
			</div>
		</div>
	</div>

</div>
