<div class="container container-padding">
    <div class="row">
        <div class="col-md-3">
            <%= render 'review_sidebar', review_categories: @review_categories %>
        </div>

        <div class="col-md-9">
            <div class="content-box">
                <% if @user_or_product == "1" %>
                    <p class="search-text">ユーザー名に '<%= @search %>' を含むレビュー一覧</p>
                    <% if @user_reviews.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'review_index', reviews: @user_reviews %>
                    <% end %>
                <% elsif @user_or_product == "2" %>
                    <p>商品名に '<%= @search %>' を含むレビュー一覧</p>
                    <% if @reviews.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'review_index', reviews: @reviews %>
                    <% end %>
                <% else %>
                    <p>商品名：<%= @same_review_name %><span id="average">平均評価：</span></p>
                    <%= render 'review_index', reviews: @same_reviews %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<%# レビューの評価平均を表示 %>
<script>
    $('#average').raty({
    size: 36,
    score: "<%=@same_reviews.average(:rate).to_f.round(1) %>",//星の平均値。小数点第１。
    starOff: "<%=asset_path('star-off.png')%>",
    starOn: "<%=asset_path('star-on.png')%>",
    starHalf: "<%=asset_path('star-half.png')%>",
    scoreName: 'review[star]',
    half: true,
    readOnly: true,
  });
</script>