<div class="container container-padding">
    <div class="row">
        <div class="col-md-3">
            <%= render 'review_sidebar', review_categories: @review_categories %>
        </div>

        <div class="col-md-9">
            <div class="content-box">
                <% if @user_or_product == "1" %>
                    <p class="search-text">ユーザー名に '<%= @search %>' を含むレビュー一覧</p>
                    <% if @user_reviews.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'review_index', reviews: @user_reviews %>
                    <% end %>
                <% elsif @user_or_product == "2" %>
                    <p>商品名に '<%= @search %>' を含むレビュー一覧</p>
                    <% if @reviews.blank? %>
                        検索結果が見つかりません
                    <% else %>
                        <%= render 'review_index', reviews: @reviews %>
                    <% end %>
                <% else %>
                    <p><%= @same_review_name %> のレビュー一覧</p>
                    <%= render 'review_index', reviews: @same_reviews %>
                <% end %>
            </div>
        </div>
    </div>
</div>