<div class="container container-padding">
	<div class="row">
		<div class="content-box">
			<p class="text-center">レビュー検索</p>
		</div>
		<div class="col-xs-6">
			<div class="text-center select"><p>カテゴリーから検索</p></div>
			<div class="text-center select-category">
					<%= link_to "全カテゴリー", reviews_path, :style => "color:black" %>
			</div>
			<% @review_categories.each do |category| %>
				<div class="text-center select-category"><%= link_to category.name, category_reviews_path(name: "#{category.name}"),
						method: :post, :style =>"color:black" %>
				</div>
			<% end %>
		</div>
		<div class="col-xs-6">
			<div class="text-center select"><p>キーワードで検索</p></div>
			<div class="text-center">
           		<%= form_tag(search_reviews_path, method: :get ) do %>
              		<%= select_tag(:option, options_for_select([["ユーザー名", "1"],["商品名", "2"]])) %>
              		<%= text_field_tag :search %>
              		<button name='button' type='submit'>
                		<i class="fa fa-search"></i>
              		</button>
            	<% end %>
        	</div>

        	<% if user_signed_in? %>
	        	<%= link_to new_review_path do %>
		        	<div class="text-center new-review"><p>レビューを書く</p></div>
	    		<% end %>
	    	<% else %>
	    		<%= link_to new_user_session_path do %>
		        	<div class="text-center new-review"><p>レビューを書く</p></div>
	    		<% end %>
	    	<% end %>
    	</div>
	</div>
	<div class="row">
		<div class="content-box">
			<p class="text-center">新着レビュー</p>
		</div>
		<div class="review-index">
			<% @reviews.each do |review| %>
				<div class="review-item">
					<%= link_to review_path(review) do %>
						<div>
							<%= attachment_image_tag review, :image, size: "300x200", fallback: 'no_image.png',size: "300x200", class: "content-image" %>
						</div>
						<div class="text-center review-name">
							商品名：<%= review.name %><br>
							<%= review.updated_at.strftime("%Y-%m-%d") %>
						</div>
						<div class="review-content">
							<p><%= review.content %></p>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2 col-xs-offset-10 next-box">
			<%= link_to reviews_path do %>
				<p class="text-center">もっとみる</p>
			<% end %>
		</div>
	</div>
</div>