<div class="container container-padding">
	<div class="row">
		<div class="content-box">
			<p class="text-center">レビュー検索</p>
			<div class="col-sm-6">
				<div class="text-center select"><p>カテゴリーから検索</p></div>
				<div class="text-center select-category">
					<%= link_to "全カテゴリー", reviews_path, class: "select-button" %>
				</div>
				<% @review_categories.each do |category| %>
					<div class="text-center select-category">
						<%= link_to category.name, category_reviews_path(name: "#{category.name}"),method: :post, class: "select-button" %>
					</div>
				<% end %>
			</div>
			<div class="col-sm-6">
				<div class="text-center select"><p>キーワードで検索</p></div>
				<div class="text-center">
    	       		<%= form_tag(search_reviews_path, method: :get ) do %>
	        	      	<%= select_tag(:option, options_for_select([["ユーザー名", "1"],["商品名", "2"]])) %>
    	        	  	<%= text_field_tag :search %>
    	        	  	<%= submit_tag "検索", class: "btn btn-warning" %>
            		<% end %>
        		</div>
        		<div class="text-center new-review-box">
	        		<% if user_signed_in? %>
		        		<%= link_to "レビューを書く", new_review_path, class: "new-review" %>
	    			<% else %>
	    				<%= link_to "レビューを書く", new_user_session_path, class: "new-review" %>
	    			<% end %>
	    		</div>
    		</div>
    	</div>
	</div>
	<div class="row">
		<div class="content-box">
			<p class="text-center">新着レビュー</p>
			<div class="review-index">
				<% @reviews.each do |review| %>
					<div class="review-item">
						<%= link_to review_path(review) do %>
							<div class="col-sm-12 col-xs-5">
								<%= attachment_image_tag review, :image, size: "300x250", fallback: 'no_image.png',size: "300x250", class: "content-image" %>
							</div>
							<div class="col-sm-12 col-xs-7">
								<div class="text-center review-name">
									<%= review.name %><br>
									<%= review.updated_at.strftime("%Y-%m-%d") %>
								</div>
								<div id="star-rate-<%= review.id %>" data-score="<%= review.rate %>", class="text-center"></div>
								<div class="content-text">
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   									<%= review.favorites.count %>
   								</div>
								<div class="review-content">
									<p><%= review.content %></p>
								</div>
							</div>
						<% end %>
					</div>
					<%= render 'shared/star', review: review %>
				<% end %>
			</div>
			<div class="col-md-5 col-md-offset-4 text-center more-link">
			<%= link_to "レビュー一覧へ", reviews_path, class: "select-button" %>
			</div>
		</div>
	</div>
</div>

