<div class="row">
	<div class="col-xs-3">
		<div class="sidebar" style="width: 20rem;">
			<div class="genre-title text-center">CATEGORY</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-center">
					<%= link_to "全カテゴリー", reviews_path, :style => "color:black" %>
				</li>
				<% @review_categories.each do |category| %>
					<li class="list-group-item text-center">
						<%= link_to category.name, category_reviews_path(name: "#{category.name}"),
						method: :post, :style =>"color:black" %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="col-xs-9">
		<h3><%= @review.name %>のレビュー</h3>
		<div>
			<%= attachment_image_tag @review, :image, size: '400x300', id: "file-preview",fallback: "no_image.png",size:'400x300' %>
		</div>
		<div><span>商品名：<%= @review.name %></span></div>
		<div><span>ユーザー名：<%= @review.user.name %> さん</span></div>
		<div><%= @review.updated_at.strftime("%Y-%m-%d %H:%M") %></div>
		<div id="star-rate" data-score="<%= @review.rate %>"></div>
		<div><%= @review.content %></div>
		<% if @review.user == current_user %>
			<%= link_to "編集", edit_review_path(@review), class: "btn btn-primary" %>
			<%= link_to "削除", review_path(@review), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
		<% end %>
	</div>
</div>

<script>
	$('#star-rate').raty({
        readOnly: true,
        size: 36,
   		starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
    	score: function() {
     	 return $(this).attr('data-score');
    	},
    });
</script>