<div class="container container-padding">
	<div class="row">
		<div class="col-md-3">
			<%= render 'review_sidebar', review_categories: @review_categories %>
		</div>

		<div class="col-md-9">
			<div class="review-show-content">
				<div class="review-show-title">
					<p class="product-name">
						<%= @review.name %>
					</p>
				</div>
				<div class="row show-image-box">
					<div class="col-sm-7">
						<%= attachment_image_tag @review, :image, size: '400x300', id: "file-preview",fallback: "no_image.png",size:'400x300', class: "review-show-image" %>
					</div>
					<div class="col-sm-5">
						
							<div class="text-center col-sm-12 col-xs-5">
								<%= link_to user_my_page_path(@review.user) do %>
									<%= attachment_image_tag @review.user, :profile_image, size: '150x150', id: "file-preview",fallback: "no_image2.png",size:'150x150', class: "profile-image" %>
								<% end %>
							</div>
							<div class="col-sm-12 col-xs-7">
								<div class="name-box">
									<h5 class="text-center"><%= @review.user.name %>さん</h5>
								</div>
								<div class="text-center follow-box">
									<%= render 'users/follow_form', object: @review.user %>
        						</div>
								<% if user_signed_in? %>
									<%= render 'like_form', review: @review %>
								<% else %>
									<div class="favorite-form text-center">
										<a href="#", onclick="clickEvent()">
											<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
   											<%= @review.favorites.count %>いいね
   										</a>
   									</div>
   								<% end %>
   							</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<table class="table table-bordered">
							<tbody>
								<tr>
									<td class="active">商品名</td>
									<td><%= @review.name %></td>
								</tr>
								<tr>
									<td class="active">メーカー</td>
									<td><%= @review.manufacturer %></td>
								</tr>
								<tr>
									<td class="active">金額(税抜)</td>
									<td><%= @review.price %>円</td>
								</tr>
								<tr>
									<td class="active">評価</td>
									<td id="star-rate-<%= @review.id %>" data-score="<%= @review.rate %>"></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="col-sm-8">
						<div class="panel panel-default">
							<div class="panel-heading text-center">
								<h4>レビュー</h4>
							</div>
							<div class="panel-body">
								<p><%= @review.updated_at.strftime("%Y-%m-%d") %></p>
								<p><%= @review.content %></p>
							</div>
						</div>
					</div>
				</div>
				<div>
					<%= form_for @review, url: search_reviews_path, method: :get do |f| %>
						<%= f.hidden_field :name, value: "#{@review.name}" %>
						<%= f.submit "同じ商品のレビューを探す", class: "select-button" %>
					<% end %>
				</div>
				<div class="text-center">
					<% if @review.user == current_user %>
						<%= link_to "編集", edit_review_path(@review), class: "btn btn-primary" %>
						<%= link_to "削除", review_path(@review), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
					<% elsif user_signed_in? && current_user.admin? %>
						<%= link_to "削除", review_path(@review), method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn btn-danger" %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<%= render 'shared/star', review: @review %>

<script>
    function clickEvent() {
        alert('この機能を使用するにはログインが必要です');
    }
</script>

